In [1]:
import pandas as pd

In [2]:
df_fusai_raw = pd.read_csv("負債比率2016-2021(1).csv", encoding="cp932")
df_fusai_raw2 = pd.read_csv("fusai2022.csv", encoding="cp932")
df_fusai_raw2

,Unnamed: 0,Unnamed: 1,単独決算,単独決算.1,単独決算.2,単独決算.3,単独決算.4,単独決算.5,単独決算.6,単独決算.7,...,単独決算.38,単独決算.39,単独決算.40,単独決算.41,単独決算.42,単独決算.43,単独決算.44,単独決算.45,単独決算.46,単独決算.47
0,NaN,NaN,C0,C0,C0,C0,C0,C0,C0,C0,...,C0,C0,C0,C0,C0,C0,C0,C0,C0,C0
1,NaN,NaN,負債比率,負債比率,負債比率,負債比率,負債比率,負債比率,負債比率,負債比率,...,負債比率,負債比率,負債比率,負債比率,負債比率,負債比率,負債比率,負債比率,負債比率,負債比率
2,NaN,NaN,FINFSTA'I_A01076,FINFSTA'I_A01076,FINFSTA'I_A01076,FINFSTA'I_A01076,FINFSTA'I_A01076,FINFSTA'I_A01076,FINFSTA'I_A01076,FINFSTA'I_A01076,...,FINFSTA'I_A01076,FINFSTA'I_A01076,FINFSTA'I_A01076,FINFSTA'I_A01076,FINFSTA'I_A01076,FINFSTA'I_A01076,FINFSTA'I_A01076,FINFSTA'I_A01076,FINFSTA'I_A01076,FINFSTA'I_A01076
3,NaN,NaN,％,％,％,％,％,％,％,％,...,％,％,％,％,％,％,％,％,％,％
4,NaN,NaN,決算期ベース,決算期ベース,決算期ベース,決算期ベース,決算期ベース,決算期ベース,決算期ベース,決算期ベース,...,決算期ベース,決算期ベース,決算期ベース,決算期ベース,決算期ベース,決算期ベース,決算期ベース,決算期ベース,決算期ベース,決算期ベース
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3903,いちごグリーンインフラ投資法人,T9282,NaN,NaN,NaN,NaN,NaN,143.92,NaN,NaN,...,NaN,NaN,NaN,133.09,NaN,NaN,NaN,NaN,NaN,NaN
3904,カナディアン・ソーラー・インフ,T9284,NaN,NaN,NaN,NaN,NaN,107.18,NaN,NaN,...,NaN,NaN,NaN,97.98,NaN,NaN,NaN,NaN,NaN,95.72
3905,東京インフラ・エネルギー投資法,T9285,NaN,NaN,NaN,NaN,NaN,126.28,NaN,NaN,...,NaN,NaN,NaN,109.75,NaN,NaN,NaN,NaN,NaN,101.49
3906,エネクス・インフラ投資法人,T9286,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,141.83,NaN,NaN,NaN,NaN,NaN,139.04,NaN
3907,ジャパン・インフラファンド投資,T9287,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,86.84,NaN,NaN,NaN,NaN,NaN,87.54,NaN

In [3]:
df_fusai_raw2.iloc[:11, :]

,Unnamed: 0,Unnamed: 1,単独決算,単独決算.1,単独決算.2,単独決算.3,単独決算.4,単独決算.5,単独決算.6,単独決算.7,...,単独決算.38,単独決算.39,単独決算.40,単独決算.41,単独決算.42,単独決算.43,単独決算.44,単独決算.45,単独決算.46,単独決算.47
0,NaN,NaN,C0,C0,C0,C0,C0,C0,C0,C0,...,C0,C0,C0,C0,C0,C0,C0,C0,C0,C0
1,NaN,NaN,負債比率,負債比率,負債比率,負債比率,負債比率,負債比率,負債比率,負債比率,...,負債比率,負債比率,負債比率,負債比率,負債比率,負債比率,負債比率,負債比率,負債比率,負債比率
2,NaN,NaN,FINFSTA'I_A01076,FINFSTA'I_A01076,FINFSTA'I_A01076,FINFSTA'I_A01076,FINFSTA'I_A01076,FINFSTA'I_A01076,FINFSTA'I_A01076,FINFSTA'I_A01076,...,FINFSTA'I_A01076,FINFSTA'I_A01076,FINFSTA'I_A01076,FINFSTA'I_A01076,FINFSTA'I_A01076,FINFSTA'I_A01076,FINFSTA'I_A01076,FINFSTA'I_A01076,FINFSTA'I_A01076,FINFSTA'I_A01076
3,NaN,NaN,％,％,％,％,％,％,％,％,...,％,％,％,％,％,％,％,％,％,％
4,NaN,NaN,決算期ベース,決算期ベース,決算期ベース,決算期ベース,決算期ベース,決算期ベース,決算期ベース,決算期ベース,...,決算期ベース,決算期ベース,決算期ベース,決算期ベース,決算期ベース,決算期ベース,決算期ベース,決算期ベース,決算期ベース,決算期ベース
5,NaN,NaN,B0,B0,B0,B0,B0,B0,B0,B0,...,B0,B0,B0,B0,B0,B0,B0,B0,B0,B0
6,NaN,NaN,月次(M),月次(M),月次(M),月次(M),月次(M),月次(M),月次(M),月次(M),...,月次(M),月次(M),月次(M),月次(M),月次(M),月次(M),月次(M),月次(M),月次(M),月次(M)
7,NaN,NaN,2019/01,2019/02,2019/03,2019/04,2019/05,2019/06,2019/07,2019/08,...,2022/03,2022/04,2022/05,2022/06,2022/07,2022/08,2022/09,2022/10,2022/11,2022/12
8,NaN,NaN,有価証券報告書優先,有価証券報告書優先,有価証券報告書優先,有価証券報告書優先,有価証券報告書優先,有価証券報告書優先,有価証券報告書優先,有価証券報告書優先,...,有価証券報告書優先,有価証券報告書優先,有価証券報告書優先,有価証券報告書優先,有価証券報告書優先,有価証券報告書優先,有価証券報告書優先,有価証券報告書優先,有価証券報告書優先,有価証券報告書優先
9,NaN,NaN,Y0,Y0,Y0,Y0,Y0,Y0,Y0,Y0,...,Y0,Y0,Y0,Y0,Y0,Y0,Y0,Y0,Y0,Y0
10,極洋,T1301,NaN,NaN,300.69,NaN,NaN,NaN,NaN,NaN,...,236.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# df_fusai_raw.columns == "連結優先(IFRS優先).1"  # noqa: ERA001
num = 0
for i in df_fusai_raw2.columns:
    if i == "連結優先(IFRS優先)":
        pass

    num += 1  # noqa: SIM113

In [5]:
df_fusai_drop_renketsu = df_fusai_raw.drop(df_fusai_raw.columns[74:], axis=1)
df_fusai_raw2.columns

Index(['Unnamed: 0', 'Unnamed: 1', '単独決算', '単独決算.1', '単独決算.2', '単独決算.3',
       '単独決算.4', '単独決算.5', '単独決算.6', '単独決算.7', '単独決算.8', '単独決算.9', '単独決算.10',
       '単独決算.11', '単独決算.12', '単独決算.13', '単独決算.14', '単独決算.15', '単独決算.16',
       '単独決算.17', '単独決算.18', '単独決算.19', '単独決算.20', '単独決算.21', '単独決算.22',
       '単独決算.23', '単独決算.24', '単独決算.25', '単独決算.26', '単独決算.27', '単独決算.28',
       '単独決算.29', '単独決算.30', '単独決算.31', '単独決算.32', '単独決算.33', '単独決算.34',
       '単独決算.35', '単独決算.36', '単独決算.37', '単独決算.38', '単独決算.39', '単独決算.40',
       '単独決算.41', '単独決算.42', '単独決算.43', '単独決算.44', '単独決算.45', '単独決算.46',
       '単独決算.47'],
      dtype='object')

In [6]:
df_fusai_drop_row = df_fusai_drop_renketsu.drop(
    df_fusai_drop_renketsu.index[[0, 1, 2, 3, 4, 5, 6, 8, 9]]
)
df_fusai_drop_row2 = df_fusai_raw2.drop(
    df_fusai_drop_renketsu.index[[0, 1, 2, 3, 4, 5, 6, 8, 9]]
)

df_fusai_merge = df_fusai_drop_row.merge(df_fusai_drop_row2, on="Unnamed: 1")
df_fusai_merge

,Unnamed: 0_x,Unnamed: 1,単独決算_x,単独決算.1_x,単独決算.2_x,単独決算.3_x,単独決算.4_x,単独決算.5_x,単独決算.6_x,単独決算.7_x,...,単独決算.38_y,単独決算.39_y,単独決算.40_y,単独決算.41_y,単独決算.42_y,単独決算.43_y,単独決算.44_y,単独決算.45_y,単独決算.46_y,単独決算.47_y
0,NaN,NaN,2016/01,2016/02,2016/03,2016/04,2016/05,2016/06,2016/07,2016/08,...,2022/03,2022/04,2022/05,2022/06,2022/07,2022/08,2022/09,2022/10,2022/11,2022/12
1,極洋,T1301,NaN,NaN,338.56,NaN,NaN,NaN,NaN,NaN,...,236.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ニッスイ,T1332,NaN,NaN,380.23,NaN,NaN,NaN,NaN,NaN,...,217.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,マルハニチロ,T1333,NaN,NaN,602.77,NaN,NaN,NaN,NaN,NaN,...,278.47,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ユキグニファクトリー,T1375,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,95.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
891,ファインシンター,T5994,NaN,NaN,134.64,NaN,NaN,NaN,NaN,NaN,...,188.42,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
892,協立エアテック,T5997,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,78.37
893,アドバネクス,T5998,NaN,NaN,348.96,NaN,NaN,NaN,NaN,NaN,...,527.47,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
894,ネポン,T7985,NaN,NaN,231.13,NaN,NaN,NaN,NaN,NaN,...,182.87,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
895,立川ブラインド工業,T7989,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,28.85

In [7]:
df_fusai_drop_cumpanyname = df_fusai_merge.drop(
    columns=df_fusai_merge.columns[0]
).reset_index(drop=True)


df_fusai_drop_cumpanyname

,Unnamed: 1,単独決算_x,単独決算.1_x,単独決算.2_x,単独決算.3_x,単独決算.4_x,単独決算.5_x,単独決算.6_x,単独決算.7_x,単独決算.8_x,...,単独決算.38_y,単独決算.39_y,単独決算.40_y,単独決算.41_y,単独決算.42_y,単独決算.43_y,単独決算.44_y,単独決算.45_y,単独決算.46_y,単独決算.47_y
0,NaN,2016/01,2016/02,2016/03,2016/04,2016/05,2016/06,2016/07,2016/08,2016/09,...,2022/03,2022/04,2022/05,2022/06,2022/07,2022/08,2022/09,2022/10,2022/11,2022/12
1,T1301,NaN,NaN,338.56,NaN,NaN,NaN,NaN,NaN,NaN,...,236.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,T1332,NaN,NaN,380.23,NaN,NaN,NaN,NaN,NaN,NaN,...,217.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,T1333,NaN,NaN,602.77,NaN,NaN,NaN,NaN,NaN,NaN,...,278.47,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,T1375,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,95.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
891,T5994,NaN,NaN,134.64,NaN,NaN,NaN,NaN,NaN,NaN,...,188.42,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
892,T5997,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,78.37
893,T5998,NaN,NaN,348.96,NaN,NaN,NaN,NaN,NaN,NaN,...,527.47,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
894,T7985,NaN,NaN,231.13,NaN,NaN,NaN,NaN,NaN,NaN,...,182.87,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
895,T7989,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,28.85

In [8]:
df_fusai_drop_cumpanyname.iloc[0, 0] = "code"
df_fusai_drop_cumpanyname

,Unnamed: 1,単独決算_x,単独決算.1_x,単独決算.2_x,単独決算.3_x,単独決算.4_x,単独決算.5_x,単独決算.6_x,単独決算.7_x,単独決算.8_x,...,単独決算.38_y,単独決算.39_y,単独決算.40_y,単独決算.41_y,単独決算.42_y,単独決算.43_y,単独決算.44_y,単独決算.45_y,単独決算.46_y,単独決算.47_y
0,code,2016/01,2016/02,2016/03,2016/04,2016/05,2016/06,2016/07,2016/08,2016/09,...,2022/03,2022/04,2022/05,2022/06,2022/07,2022/08,2022/09,2022/10,2022/11,2022/12
1,T1301,NaN,NaN,338.56,NaN,NaN,NaN,NaN,NaN,NaN,...,236.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,T1332,NaN,NaN,380.23,NaN,NaN,NaN,NaN,NaN,NaN,...,217.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,T1333,NaN,NaN,602.77,NaN,NaN,NaN,NaN,NaN,NaN,...,278.47,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,T1375,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,95.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
891,T5994,NaN,NaN,134.64,NaN,NaN,NaN,NaN,NaN,NaN,...,188.42,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
892,T5997,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,78.37
893,T5998,NaN,NaN,348.96,NaN,NaN,NaN,NaN,NaN,NaN,...,527.47,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
894,T7985,NaN,NaN,231.13,NaN,NaN,NaN,NaN,NaN,NaN,...,182.87,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
895,T7989,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,28.85

In [9]:
colum_list = df_fusai_drop_cumpanyname.iloc[0, :]
colum_list

Unnamed: 1       code
単独決算_x        2016/01
単独決算.1_x      2016/02
単独決算.2_x      2016/03
単独決算.3_x      2016/04
               ...
単独決算.43_y     2022/08
単独決算.44_y     2022/09
単独決算.45_y     2022/10
単独決算.46_y     2022/11
単独決算.47_y     2022/12
Name: 0, Length: 122, dtype: object

In [10]:
df_change_colums = df_fusai_drop_cumpanyname.drop(
    index=df_fusai_drop_cumpanyname.index[0]
).reset_index(drop=True)
df_change_colums.columns = colum_list
df_change_colums

,code,2016/01,2016/02,2016/03,2016/04,2016/05,2016/06,2016/07,2016/08,2016/09,...,2022/03,2022/04,2022/05,2022/06,2022/07,2022/08,2022/09,2022/10,2022/11,2022/12
0,T1301,NaN,NaN,338.56,NaN,NaN,NaN,NaN,NaN,NaN,...,236.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,T1332,NaN,NaN,380.23,NaN,NaN,NaN,NaN,NaN,NaN,...,217.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,T1333,NaN,NaN,602.77,NaN,NaN,NaN,NaN,NaN,NaN,...,278.47,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,T1375,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,95.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,T1376,NaN,NaN,NaN,NaN,160.05,NaN,NaN,NaN,NaN,...,NaN,NaN,117.92,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
890,T5994,NaN,NaN,134.64,NaN,NaN,NaN,NaN,NaN,NaN,...,188.42,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
891,T5997,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,78.37
892,T5998,NaN,NaN,348.96,NaN,NaN,NaN,NaN,NaN,NaN,...,527.47,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
893,T7985,NaN,NaN,231.13,NaN,NaN,NaN,NaN,NaN,NaN,...,182.87,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
894,T7989,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,28.85

In [11]:
df_fusai_drop_code_t = df_change_colums
df_fusai_drop_code_t["code"] = df_fusai_drop_code_t["code"].str.replace("T", "")
df_fusai_drop_code_t

,code,2016/01,2016/02,2016/03,2016/04,2016/05,2016/06,2016/07,2016/08,2016/09,...,2022/03,2022/04,2022/05,2022/06,2022/07,2022/08,2022/09,2022/10,2022/11,2022/12
0,1301,NaN,NaN,338.56,NaN,NaN,NaN,NaN,NaN,NaN,...,236.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1332,NaN,NaN,380.23,NaN,NaN,NaN,NaN,NaN,NaN,...,217.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1333,NaN,NaN,602.77,NaN,NaN,NaN,NaN,NaN,NaN,...,278.47,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1375,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,95.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1376,NaN,NaN,NaN,NaN,160.05,NaN,NaN,NaN,NaN,...,NaN,NaN,117.92,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
890,5994,NaN,NaN,134.64,NaN,NaN,NaN,NaN,NaN,NaN,...,188.42,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
891,5997,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,78.37
892,5998,NaN,NaN,348.96,NaN,NaN,NaN,NaN,NaN,NaN,...,527.47,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
893,7985,NaN,NaN,231.13,NaN,NaN,NaN,NaN,NaN,NaN,...,182.87,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
894,7989,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,28.85

In [12]:
df_fusai_melt = df_fusai_drop_code_t.melt(
    id_vars="code", var_name="year/month", value_name="fusaiRate"
)
df_fusai_melt

        code year/month fusaiRate
0       1301    2016/01       NaN
1       1332    2016/01       NaN
2       1333    2016/01       NaN
3       1375    2016/01       NaN
4       1376    2016/01       NaN
...      ...        ...       ...
108290  5994    2022/12       NaN
108291  5997    2022/12     78.37
108292  5998    2022/12       NaN
108293  7985    2022/12       NaN
108294  7989    2022/12     28.85

[108295 rows x 3 columns]

In [ ]:
# df_fusai_melt["year"] = pd.to_datetime(
#     df_fusai_melt["year/month"], format="%Y/%m"  # noqa: ERA001
# ).dt.year
# df_fusai_melt

In [14]:
df_fusai_melt_drop = df_fusai_melt[
    (~df_fusai_melt["year/month"].isin(["2016/01", "2016/02", "2016/03"]))
    & (df_fusai_melt["year/month"] < "2022/04")
]
df_fusai_melt_drop

        code year/month fusaiRate
2685    1301    2016/04       NaN
2686    1332    2016/04       NaN
2687    1333    2016/04       NaN
2688    1375    2016/04       NaN
2689    1376    2016/04       NaN
...      ...        ...       ...
100235  5994    2022/03    188.42
100236  5997    2022/03       NaN
100237  5998    2022/03    527.47
100238  7985    2022/03    182.87
100239  7989    2022/03       NaN

[96660 rows x 3 columns]

In [ ]:
# 年度列を追加
def get_fiscal_year(ym):  # noqa: ANN201, D103, ANN001
    year, month = map(int, ym.split("/"))
    return year if month >= 4 else year - 1  # noqa: PLR2004


# コピーして新しい名前に
df_fusai_melt_drop_safe = df_fusai_melt_drop.copy()
df_fusai_melt_drop_safe["fiscal_year"] = df_fusai_melt_drop_safe["year/month"].apply(
    get_fiscal_year
)
df_fusai_melt_drop_safe["fusaiRate"] = pd.to_numeric(
    df_fusai_melt_drop_safe["fusaiRate"], errors="coerce"
)

# 年度ごとに平均を集計
df_fiscal_group = (
    df_fusai_melt_drop_safe.groupby(["code", "fiscal_year"])["fusaiRate"]
    .mean()
    .reset_index()
)
df_fiscal_group

      code  fiscal_year  fusaiRate
0     1301         2016     304.17
1     1301         2017     289.88
2     1301         2018     300.69
3     1301         2019     289.09
4     1301         2020     224.92
...    ...          ...        ...
5365  9845         2017      87.97
5366  9845         2018      80.29
5367  9845         2019      62.83
5368  9845         2020      59.04
5369  9845         2021      54.68

[5370 rows x 3 columns]

In [19]:
df_fusai_dropna = df_fiscal_group.dropna()

In [20]:
df_fusai_dropna.to_csv("負債比率_年度別")