In [1]:
import pandas as pd

In [ ]:
df = pd.read_excel("rishokuritsu.xlsx")  # noqa: PD901
df = df.drop(columns=df.columns[0])  # noqa: PD901
df.head()

,東洋経済コード,年版,従業員数合計/前期,月平均残業時間,有休取得率/前期,育児休業取得率/前期,フレックスタイム制度,平均年齢合計/前期,平均年間給与/前期,離職率
0,10000123,2019,8.298042,26.6,51.1,55.5,1,44.4,15.948153,1.494024
1,10000123,2020,8.313362,28.4,52.6,64.6,1,44.3,16.029025,1.103482
2,10000123,2021,8.326517,31.2,55.5,72.2,1,44.4,16.020283,1.863504
3,10000123,2022,8.333270,21.9,60.5,100.0,1,44.5,15.965467,2.187500
4,10000230,2021,6.931472,11.6,72.9,46.5,2,40.5,15.877710,1.953125

In [3]:
df.describe()

,東洋経済コード,年版,従業員数合計/前期,月平均残業時間,有休取得率/前期,育児休業取得率/前期,フレックスタイム制度,平均年齢合計/前期,平均年間給与/前期,離職率
count,1.310000e+03,1310.000000,1310.000000,1310.000000,1310.000000,1310.000000,1310.000000,1310.000000,1310.000000,1310.000000
mean,1.013346e+07,2020.194656,7.873107,18.222137,66.017786,45.905573,1.223664,41.634656,15.791285,2.742594
std,2.936637e+05,1.596731,1.278065,8.308110,14.667283,28.274234,0.416859,2.503087,0.308117,1.601879
min,1.000012e+07,2017.000000,2.639057,0.100000,10.300000,0.000000,1.000000,30.400000,12.594731,0.000000
25%,1.001130e+07,2019.000000,7.021750,12.000000,56.800000,22.050000,1.000000,40.100000,15.671837,1.592149
50%,1.002218e+07,2020.000000,7.840508,17.900000,66.600000,40.400000,1.000000,42.000000,15.808520,2.311418
75%,1.003559e+07,2022.000000,8.747551,23.000000,74.800000,66.700000,1.000000,43.300000,15.920496,3.538443
max,1.123813e+07,2022.000000,11.505679,53.000000,127.600000,136.000000,2.000000,49.500000,16.683958,7.913669

In [4]:
df_fusai1 = pd.read_csv("fusai1.csv", encoding="shift-jis")
df_fusai2 = pd.read_csv("fusai2.csv", encoding="shift-jis")
df_fusai3 = pd.read_csv("fusai3.csv", encoding="shift-jis")

In [12]:
df_fusai = pd.concat([df_fusai1, df_fusai2, df_fusai3])
df_fusai.to_csv("fusai.csv")

In [ ]:
df = df.set_index(["東洋経済コード", "年版"])  # noqa: PD901
df

               従業員数合計/前期  月平均残業時間  有休取得率/前期  育児休業取得率/前期  フレックスタイム制度  \
東洋経済コード  年版
10000123 2019   8.298042     26.6      51.1        55.5           1
         2020   8.313362     28.4      52.6        64.6           1
         2021   8.326517     31.2      55.5        72.2           1
         2022   8.333270     21.9      60.5       100.0           1
10000230 2021   6.931472     11.6      72.9        46.5           2
...                  ...      ...       ...         ...         ...
11152050 2022   5.918894     21.4      48.0       100.0           1
11177360 2022   4.859812     13.0      54.3       100.0           2
11188730 2021   6.210600     17.0      78.3        20.0           2
         2022   6.236370     16.5      81.3        46.6           2
11238130 2022   6.632002      2.3      68.4        68.2           1

               平均年齢合計/前期  平均年間給与/前期       離職率
東洋経済コード  年版
10000123 2019       44.4  15.948153  1.494024
         2020       44.3  16.029025  1.103482
         2021       44.4  16.020283  1.863504
         2022       44.5  15.965467  2.187500
10000230 2021       40.5  15.877710  1.953125
...                  ...        ...       ...
11152050 2022       39.3  15.464519  4.301075
11177360 2022       39.9  15.226254  6.976744
11188730 2021       35.4  15.584024  2.811245
         2022       35.5  15.522580  3.913894
11238130 2022       44.4  15.832055  2.898551

[1310 rows x 8 columns]

In [7]:
df_fusai_set_index = df_fusai.set_index(["東洋経済コード", "年版"])

In [9]:
df.join(df_fusai_set_index)

               従業員数合計/前期  月平均残業時間  有休取得率/前期  育児休業取得率/前期  フレックスタイム制度  \
東洋経済コード  年版
10000123 2019   8.298042     26.6      51.1        55.5           1
         2020   8.313362     28.4      52.6        64.6           1
         2021   8.326517     31.2      55.5        72.2           1
         2022   8.333270     21.9      60.5       100.0           1
10000230 2021   6.931472     11.6      72.9        46.5           2
...                  ...      ...       ...         ...         ...
11152050 2022   5.918894     21.4      48.0       100.0           1
11177360 2022   4.859812     13.0      54.3       100.0           2
11188730 2021   6.210600     17.0      78.3        20.0           2
         2022   6.236370     16.5      81.3        46.6           2
11238130 2022   6.632002      2.3      68.4        68.2           1

               平均年齢合計/前期  平均年間給与/前期       離職率  負債比率
東洋経済コード  年版
10000123 2019       44.4  15.948153  1.494024   NaN
         2020       44.3  16.029025  1.103482   NaN
         2021       44.4  16.020283  1.863504   NaN
         2022       44.5  15.965467  2.187500   NaN
10000230 2021       40.5  15.877710  1.953125   NaN
...                  ...        ...       ...   ...
11152050 2022       39.3  15.464519  4.301075   NaN
11177360 2022       39.9  15.226254  6.976744   NaN
11188730 2021       35.4  15.584024  2.811245   NaN
         2022       35.5  15.522580  3.913894   NaN
11238130 2022       44.4  15.832055  2.898551   NaN

[1310 rows x 9 columns]