In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split

pd.set_option("future.no_silent_downcasting", True)  # noqa: FBT003

In [ ]:
train_row_df = pd.read_csv("train.csv")
test_row_df = pd.read_csv("test.csv")

train_df = train_row_df.drop(columns=["PassengerId", "Name", "Ticket", "Cabin"])
test_df = test_row_df.drop(columns=["PassengerId", "Name", "Ticket", "Cabin"])

# train_df["Sex"] = train_df["Sex"].replace(["male", "female"], [0, 1]).astype("int")  # noqa: E501, ERA001
# test_df["Sex"] = test_df["Sex"].replace(["male", "female"], [0, 1]).astype("int")  # noqa: E501, ERA001

X_train = train_df.iloc[:, 1:]
X_test = test_df.iloc[:, 1:]
Y_train = train_df.iloc[:, 0]

# age_median = X_train["Age"].median()  # noqa: ERA001
# fare_median = X_train["Fare"].median()  # noqa: ERA001

# X_train["Age"] = X_train["Age"].fillna(age_median)  # noqa: ERA001
# test_df["Age"] = test_df["Age"].fillna(age_median)  # noqa: ERA001

# test_df["Fare"] = test_df["Fare"].fillna(fare_median)  # noqa: ERA001

In [3]:
X_train, X_valid, Y_train, Y_valid = train_test_split(
    X_train, Y_train, test_size=0.3, random_state=0, stratify=Y_train
)

In [4]:
X_train.head()

     Pclass     Sex   Age  SibSp  Parch     Fare Embarked
231       3    male  29.0      0      0   7.7750        S
836       3    male  21.0      0      0   8.6625        S
639       3    male   NaN      1      0  16.1000        S
389       2  female  17.0      0      0  12.0000        C
597       3    male  49.0      0      0   0.0000        S

In [5]:
categorical_features = ["Pclass", "Sex", "Embarked"]

In [6]:
import lightgbm as lgb

In [7]:
lgb_train = lgb.Dataset(X_train, Y_train, categorical_feature=categorical_features)
lgb_eval = lgb.Dataset(
    X_valid, Y_valid, reference=lgb_train, categorical_feature=categorical_features
)