In [1]:
import pandas as pd

pd.options.mode.use_inf_as_na = True

/tmp/ipykernel_9618/1630993852.py:4: FutureWarning: use_inf_as_na option is deprecated and will be removed in a future version. Convert inf values to NaN before operating instead.
  pd.options.mode.use_inf_as_na = True

In [ ]:
df = pd.read_excel("CSR_koyou_2022.北島入力平均年収修正.xlsx")  # noqa: PD901
df

,社名,年版,東洋経済コード,証券コード,業種コード,業種名,情報ソース,データ範囲,人材活用(5段階),人材活用,...,同：一定の役職以上（自由回答）,同：一定の年齢層のみ,同：一定の年齢層のみ（自由回答）,同：一定の勤続期間に該当する社員,同：一定の勤続期間に該当する社員（自由回答）,同：その他.8,同：その他（自由回答）.21,パワーハラスメント等の防止への取り組み,同：その他（自由回答）.22,同：具体的な取り組み（自由回答）
0,日本水産,2022,10002947,1332.0,50,水産・農林業,NaN,NaN,5.0,82.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,全社ハラスメント防止案内。ハラスメント防止パンフレットの配付。組織責任者へのｅラーニング
1,マルハニチロ,2022,10007359,1333.0,50,水産・農林業,NaN,NaN,4.0,77.9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,労務講習会におけるハラスメントに関する講義実施、相談窓口の設置等
2,ホクリヨウ,2022,11077210,1384.0,50,水産・農林業,NaN,NaN,2.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,意見箱
3,ホクト,2022,10035962,1379.0,50,水産・農林業,NaN,連結ベースのデータ,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,サカタのタネ,2022,10031839,1377.0,50,水産・農林業,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1626,ａｎｄ ｆａｃｔｏｒｙ,2022,11180720,7035.0,9050,サービス業,NaN,NaN,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1627,ＡＬＳＯＫ,2022,10074649,2331.0,9050,サービス業,NaN,NaN,4.0,77.9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,ハラスメント防止教育を定期的に行うとともに、相談ダイヤルを設置して社員からの相談等に対応している
1628,ＡＨＣグループ,2022,11215750,7083.0,9050,サービス業,NaN,NaN,3.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,定期的に社内研修会を行い、グループウェア等を通じて全従業員へ周知
1629,ＡＤＫホールディングス,2022,11204760,NaN,9050,サービス業,NaN,NaN,3.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,法令通りに行っている
1630,ＡＢＣ Ｃｏｏｋｉｎｇ Ｓｔｕｄｉｏ,2022,11093590,NaN,9050,サービス業,NaN,NaN,2.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
colums_list = [
    "証券コード",
    "環境(5)",
    "企業統治(5)",
    "社会性(5)",
    "30歳平均賃金",
    "月平均残業時間",
    "有休取得率/前期",
    "従業員の能力・評価結果の公開",
    "勤続年数合計/前期",
    "3年前4月1日入社・合計(入社者定着状況)",
    "うち直近4月1日在籍者・合計(入社者定着状況)",
]
df1 = df.loc[:, colums_list]
df1

,証券コード,環境(5),企業統治(5),社会性(5),30歳平均賃金,月平均残業時間,有休取得率/前期,従業員の能力・評価結果の公開,勤続年数合計/前期,3年前4月1日入社・合計(入社者定着状況),うち直近4月1日在籍者・合計(入社者定着状況)
0,1332.0,4.0,5.0,5.0,295405.0,16.7,69.4,1.0,16.9,48.0,41.0
1,1333.0,4.0,5.0,4.0,258921.0,16.3,41.6,1.0,15.7,58.0,54.0
2,1384.0,3.0,2.0,2.0,NaN,NaN,94.3,1.0,9.9,15.0,8.0
3,1379.0,NaN,NaN,NaN,NaN,NaN,67.5,NaN,12.2,27.0,23.0
4,1377.0,NaN,2.0,NaN,NaN,NaN,NaN,NaN,14.7,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
1626,7035.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,1.8,0.0,0.0
1627,2331.0,4.0,4.0,5.0,265704.0,36.0,53.1,1.0,17.4,425.0,253.0
1628,7083.0,2.0,3.0,2.0,268390.0,3.0,46.9,1.0,3.0,1.0,1.0
1629,NaN,3.0,3.0,3.0,NaN,NaN,NaN,1.0,16.5,NaN,NaN
1630,NaN,NaN,1.0,2.0,NaN,NaN,NaN,NaN,5.8,NaN,NaN

In [5]:
df2 = df1.dropna()
df2 = df2[df2["3年前4月1日入社・合計(入社者定着状況)"] != 0]
df2

,証券コード,環境(5),企業統治(5),社会性(5),30歳平均賃金,月平均残業時間,有休取得率/前期,従業員の能力・評価結果の公開,勤続年数合計/前期,3年前4月1日入社・合計(入社者定着状況),うち直近4月1日在籍者・合計(入社者定着状況)
0,1332.0,4.0,5.0,5.0,295405.0,16.7,69.4,1.0,16.9,48.0,41.0
1,1333.0,4.0,5.0,4.0,258921.0,16.3,41.6,1.0,15.7,58.0,54.0
5,1662.0,4.0,5.0,4.0,352741.0,18.7,73.3,1.0,16.6,2.0,2.0
6,1605.0,4.0,5.0,5.0,370443.0,21.3,65.0,3.0,14.1,56.0,53.0
7,1852.0,3.0,4.0,4.0,291013.0,26.3,45.9,1.0,21.5,65.0,13.0
...,...,...,...,...,...,...,...,...,...,...,...
1617,2198.0,2.0,3.0,3.0,329476.0,11.0,52.8,2.0,5.5,123.0,74.0
1620,6071.0,3.0,3.0,3.0,320634.0,10.0,74.1,1.0,4.0,22.0,13.0
1621,4544.0,4.0,5.0,5.0,250344.0,17.1,48.2,1.0,12.8,288.0,208.0
1627,2331.0,4.0,4.0,5.0,265704.0,36.0,53.1,1.0,17.4,425.0,253.0
1628,7083.0,2.0,3.0,2.0,268390.0,3.0,46.9,1.0,3.0,1.0,1.0

In [6]:
df2.to_csv("data.csv")

In [7]:
df3 = (
    df2["3年前4月1日入社・合計(入社者定着状況)"]
    - df2["うち直近4月1日在籍者・合計(入社者定着状況)"]
) / df2["3年前4月1日入社・合計(入社者定着状況)"]
df3.name = "3年以内離職率"
df3

0       0.145833
1       0.068966
5       0.000000
6       0.053571
7       0.800000
          ...
1617    0.398374
1620    0.409091
1621    0.277778
1627    0.404706
1628    0.000000
Name: 3年以内離職率, Length: 677, dtype: float64

In [8]:
df3.to_csv("3年以内離職率")

In [9]:
df5 = df2.iloc[:, :-2]
df5

,証券コード,環境(5),企業統治(5),社会性(5),30歳平均賃金,月平均残業時間,有休取得率/前期,従業員の能力・評価結果の公開,勤続年数合計/前期
0,1332.0,4.0,5.0,5.0,295405.0,16.7,69.4,1.0,16.9
1,1333.0,4.0,5.0,4.0,258921.0,16.3,41.6,1.0,15.7
5,1662.0,4.0,5.0,4.0,352741.0,18.7,73.3,1.0,16.6
6,1605.0,4.0,5.0,5.0,370443.0,21.3,65.0,3.0,14.1
7,1852.0,3.0,4.0,4.0,291013.0,26.3,45.9,1.0,21.5
...,...,...,...,...,...,...,...,...,...
1617,2198.0,2.0,3.0,3.0,329476.0,11.0,52.8,2.0,5.5
1620,6071.0,3.0,3.0,3.0,320634.0,10.0,74.1,1.0,4.0
1621,4544.0,4.0,5.0,5.0,250344.0,17.1,48.2,1.0,12.8
1627,2331.0,4.0,4.0,5.0,265704.0,36.0,53.1,1.0,17.4
1628,7083.0,2.0,3.0,2.0,268390.0,3.0,46.9,1.0,3.0

In [10]:
df4 = pd.concat((df5, df3), axis=1)
df4.dropna()
df4

,証券コード,環境(5),企業統治(5),社会性(5),30歳平均賃金,月平均残業時間,有休取得率/前期,従業員の能力・評価結果の公開,勤続年数合計/前期,3年以内離職率
0,1332.0,4.0,5.0,5.0,295405.0,16.7,69.4,1.0,16.9,0.145833
1,1333.0,4.0,5.0,4.0,258921.0,16.3,41.6,1.0,15.7,0.068966
5,1662.0,4.0,5.0,4.0,352741.0,18.7,73.3,1.0,16.6,0.000000
6,1605.0,4.0,5.0,5.0,370443.0,21.3,65.0,3.0,14.1,0.053571
7,1852.0,3.0,4.0,4.0,291013.0,26.3,45.9,1.0,21.5,0.800000
...,...,...,...,...,...,...,...,...,...,...
1617,2198.0,2.0,3.0,3.0,329476.0,11.0,52.8,2.0,5.5,0.398374
1620,6071.0,3.0,3.0,3.0,320634.0,10.0,74.1,1.0,4.0,0.409091
1621,4544.0,4.0,5.0,5.0,250344.0,17.1,48.2,1.0,12.8,0.277778
1627,2331.0,4.0,4.0,5.0,265704.0,36.0,53.1,1.0,17.4,0.404706
1628,7083.0,2.0,3.0,2.0,268390.0,3.0,46.9,1.0,3.0,0.000000

In [17]:
df4.to_csv("mika_teuti_data.csv")

In [12]:
df4.columns

Index(['証券コード', '環境(5)', '企業統治(5)', '社会性(5)', '30歳平均賃金', '月平均残業時間', '有休取得率/前期',
       '従業員の能力・評価結果の公開', '勤続年数合計/前期', '3年以内離職率'],
      dtype='object')

In [13]:
df4.count()

証券コード             677
環境(5)             677
企業統治(5)           677
社会性(5)            677
30歳平均賃金           677
月平均残業時間           677
有休取得率/前期          677
従業員の能力・評価結果の公開    677
勤続年数合計/前期         677
3年以内離職率           677
dtype: int64

In [14]:
df4.describe().to_excel("mika_kihontoukeiryo.xlsx")

In [15]:
df4.corr().to_excel("mika_soukan.xlsx")

In [16]:
import matplotlib.pyplot as plt
import seaborn as sns

plt.figure()
sns.heatmap(df4.corr(), vmax=1, vmin=-1, center=0)
plt.savefig("heatmap.png", bbox_inches="tight")
plt.close("all")