In [1]:
import numpy as np
import pandas as pd

In [2]:
df1 = pd.read_excel("data_前半.xlsx", sheet_name="Sheet1")
df2 = pd.read_excel("data_後半.xlsx", sheet_name="Sheet1")

In [3]:
df1_1 = df1.iloc[:, 0:5]
df2_2 = df2.iloc[:, 0:5]

In [4]:
df3 = pd.concat((df1_1, df2_2)).dropna()
df3_1 = df3.replace("-", np.nan).dropna()
df3_1

/tmp/ipykernel_5184/149357635.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df3_1 = df3.replace("-", np.nan).dropna()

,Unnamed: 0,Unnamed: 1,資産合計,自己資本／親会社の所有者に帰属する資本,【株主資本合計／親会社の所有者に帰属する資本】親会社株主に帰属する当期純利益（連結）／当期純利益（単独）
0,極洋,T1301,109051.0,32378.0,3420.0
1,ニッスイ,T1332,332621.0,104895.0,7165.0
2,マルハニチロ,T1333,363756.0,96112.0,10949.0
3,雪国まいたけ,T1375,51190.0,26170.0,1953.0
4,カネコ種苗,T1376,48668.0,22332.0,1252.0
...,...,...,...,...,...
3182,いちごグリーンインフラ投資法人,T9282,9636.0,4134.0,211.0
3183,カナディアン・ソーラー・インフ,T9284,76365.0,39399.0,1003.0
3184,東京インフラ・エネルギー投資法,T9285,30375.0,15412.0,292.0
3185,エネクス・インフラ投資法人,T9286,109707.0,45088.0,863.0
3186,ジャパン・インフラファンド投資,T9287,60507.0,31538.0,670.0

In [ ]:
df3_1.astype(
    {
        "資産合計": "int64",
        "自己資本／親会社の所有者に帰属する資本": "int64",  # noqa: RUF001
        "【株主資本合計／親会社の所有者に帰属する資本】親会社株主に帰属する当期純利益（連結）／当期純利益（単独）": "int64",  # noqa: E501, RUF001
    }
)

,Unnamed: 0,Unnamed: 1,資産合計,自己資本／親会社の所有者に帰属する資本,【株主資本合計／親会社の所有者に帰属する資本】親会社株主に帰属する当期純利益（連結）／当期純利益（単独）
0,極洋,T1301,109051,32378,3420
1,ニッスイ,T1332,332621,104895,7165
2,マルハニチロ,T1333,363756,96112,10949
3,雪国まいたけ,T1375,51190,26170,1953
4,カネコ種苗,T1376,48668,22332,1252
...,...,...,...,...,...
3182,いちごグリーンインフラ投資法人,T9282,9636,4134,211
3183,カナディアン・ソーラー・インフ,T9284,76365,39399,1003
3184,東京インフラ・エネルギー投資法,T9285,30375,15412,292
3185,エネクス・インフラ投資法人,T9286,109707,45088,863
3186,ジャパン・インフラファンド投資,T9287,60507,31538,670

In [6]:
df3_1["ROA"] = df3_1.iloc[:, 4] / df3_1.iloc[:, 2] * 100
df3_1["ROE"] = df3_1.iloc[:, 4] / df3_1.iloc[:, 3] * 100

In [7]:
df3_1.columns = ["会社名", "東証コード", "資産合計", "自己資本", "純利益", "ROA", "ROE"]

In [8]:
df3_1["東証コード"] = df3_1["東証コード"].str.strip("T")
df3_1["東証コード"] = df3_1["東証コード"].str.strip("A")

In [ ]:
df3_1

                  会社名 東証コード      資産合計      自己資本      純利益       ROA        ROE
0                  極洋  1301  109051.0   32378.0   3420.0  3.136147  10.562728
1                ニッスイ  1332  332621.0  104895.0   7165.0  2.154103   6.830640
2              マルハニチロ  1333  363756.0   96112.0  10949.0  3.009985  11.391918
3              雪国まいたけ  1375   51190.0   26170.0   1953.0  3.815198   7.462744
4               カネコ種苗  1376   48668.0   22332.0   1252.0  2.572532   5.606305
...               ...   ...       ...       ...      ...       ...        ...
3182  いちごグリーンインフラ投資法人  9282    9636.0    4134.0    211.0  2.189705   5.104015
3183  カナディアン・ソーラー・インフ  9284   76365.0   39399.0   1003.0  1.313429   2.545750
3184  東京インフラ・エネルギー投資法  9285   30375.0   15412.0    292.0  0.961317   1.894628
3185    エネクス・インフラ投資法人  9286  109707.0   45088.0    863.0  0.786641   1.914035
3186  ジャパン・インフラファンド投資  9287   60507.0   31538.0    670.0  1.107310   2.124421

[3894 rows x 7 columns]

In [10]:
df3_1.columns = ["会社名", "証券コード", "資産合計", "自己資本", "純利益", "ROA", "ROE"]
df3_2 = df3_1.iloc[:, 1:]

In [11]:
df3_2.to_excel("df3_2.xlsx")

In [12]:
df_teuchi = pd.read_csv("mika_teuti_data.csv")

In [13]:
df_teuchi.dtypes

Unnamed: 0          int64
証券コード             float64
環境(5)             float64
企業統治(5)           float64
社会性(5)            float64
30歳平均賃金           float64
月平均残業時間           float64
有休取得率/前期          float64
従業員の能力・評価結果の公開    float64
勤続年数合計/前期         float64
3年以内離職率           float64
dtype: object

In [ ]:
# df3_2.iloc[39, 0]  # noqa: ERA001

In [ ]:
# df3_3 = df3_2.drop(df3_2.index[[17, 39]])  # noqa: ERA001

In [16]:
df3_3 = df3_2.astype({"証券コード": "float64"})

In [17]:
df3_3.dtypes

証券コード    float64
資産合計     float64
自己資本     float64
純利益      float64
ROA      float64
ROE      float64
dtype: object

In [18]:
df_kansei_data = df_teuchi.merge(df3_3, on="証券コード")
df_perfect_data = df_kansei_data.iloc[:, 1:]
df_perfect_data

,証券コード,環境(5),企業統治(5),社会性(5),30歳平均賃金,月平均残業時間,有休取得率/前期,従業員の能力・評価結果の公開,勤続年数合計/前期,3年以内離職率,資産合計,自己資本,純利益,ROA,ROE
0,1332.0,4.0,5.0,5.0,295405.0,16.7,69.4,1.0,16.9,0.145833,332621.0,104895.0,7165.0,2.154103,6.830640
1,1333.0,4.0,5.0,4.0,258921.0,16.3,41.6,1.0,15.7,0.068966,363756.0,96112.0,10949.0,3.009985,11.391918
2,1662.0,4.0,5.0,4.0,352741.0,18.7,73.3,1.0,16.6,0.000000,423049.0,337872.0,-20003.0,-4.728294,-5.920289
3,1605.0,4.0,5.0,5.0,370443.0,21.3,65.0,3.0,14.1,0.053571,2992411.0,2075526.0,13272.0,0.443522,0.639452
4,1852.0,3.0,4.0,4.0,291013.0,26.3,45.9,1.0,21.5,0.800000,84959.0,42300.0,3928.0,4.623407,9.286052
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
617,2198.0,2.0,3.0,3.0,329476.0,11.0,52.8,2.0,5.5,0.398374,14404.0,7939.0,162.0,1.124688,2.040559
618,6071.0,3.0,3.0,3.0,320634.0,10.0,74.1,1.0,4.0,0.409091,10514.0,6110.0,910.0,8.655126,14.893617
619,4544.0,4.0,5.0,5.0,250344.0,17.1,48.2,1.0,12.8,0.277778,173744.0,58744.0,5872.0,3.379685,9.995914
620,2331.0,4.0,4.0,5.0,265704.0,36.0,53.1,1.0,17.4,0.404706,326625.0,241342.0,24571.0,7.522694,10.180988
621,7083.0,2.0,3.0,2.0,268390.0,3.0,46.9,1.0,3.0,0.000000,3779.0,922.0,-167.0,-4.419159,-18.112798

In [19]:
df_perfect_data["従業員の能力・評価結果の公開"] = df_perfect_data[
    "従業員の能力・評価結果の公開"
].replace(3, np.nan)

In [ ]:
df_perfect_data["有休取得率/前期"] = df_perfect_data["有休取得率/前期"].where(
    df_perfect_data["有休取得率/前期"] < 100  # noqa: PLR2004
)

In [21]:
df_perfect_data = df_perfect_data.dropna()

In [22]:
df_perfect_data.iloc[:, 1:].describe().to_excel("各変数の基本統計量.xlsx")

In [23]:
df_perfect_data.iloc[:, [1, 2, 3, 4, 5, 6, 7, 8, 9, 13, 14]].corr().to_excel(
    "各変数の相関.xlsx"
)

In [24]:
import matplotlib.pyplot as plt
import seaborn as sns

plt.figure()
sns.heatmap(
    df_perfect_data.iloc[:, [1, 2, 3, 4, 5, 6, 7, 8, 9, 13, 14]].corr(),
    vmax=1,
    vmin=-1,
    center=0,
)
plt.savefig("各変数の相関.png", bbox_inches="tight")
plt.close("all")

In [25]:
df_perfect_data.to_csv("研究データ.csv")